{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Инструкции
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">


                <li class="list-group-item font-weight-bold text-center">
                    Общий обзор

                </li>


                <li class="list-group-item">
                    Добро пожаловать на экономический эксперимент!
                    Мы просим Вас внимательно прочесть инструкции, так как в них будут объяснены правила, по которым Вы
                    будете зарабатывать деньги в соответствии с принятыми Вами решениями.
                </li>

                <li class="list-group-item">
                    Во время эксперимента Вам не разрешается переговариваться с другими участниками. Если у Вас есть
                    вопросы, пожалуйста, не задавая их вслух, поднимите руку и подождите, пока организаторы эксперимента
                    не подойдут к Вам и не ответят на Ваш вопрос наедине. Если организатор эксперимента сочтёт Ваш
                    вопрос важным для общего понимания правил всеми участниками, он может озвучить вопрос всем
                    участникам игры и ответить на него вслух.
                </li>

                <li class="list-group-item">
                    Вам не разрешается пользоваться никакими электронными устройствами (такими как смартфоны, планшеты,
                    компьютеры, электронные часы и проч.).

                </li>
                <li class="list-group-item">
                    В конце экспериментальной сессии одному из участников (выбранному случайно) будут выплачены деньги,
                    положенные по итогам эксперимента.
                </li>
                    {% include 'creed/includes/instructions_block.html' %}
                <li class="list-group-item font-weight-bold text-center">
                    Выплаты

                </li>


                <li class="list-group-item">
                    После того, как игра из {{ Constants.num_rounds }} периодов подойдёт к концу, Вам будет выплачен
                    накопленный за все периоды доход в рублях. Экспериментальная денежная единица (ECU) имеет следующий
                    обменный курс: 1 ECU = 5 рублей. Сумма, которую Вы заработали, будет выплачена лично Вам после
                    окончания эксперимента индивидуально. Кроме того вы получите 150 рублей за факт участия в
                    сегодняшней игры.
                <li class="list-group-item">
                    NB! Вы не получите никакого денежного вознаграждения, если вы будете уличены в переговорах с другими
                    участниками эксперимента и/или использовании электронных устройств во время экспериментов.
                <li class="list-group-item">
                <li class="list-group-item font-weight-bold text-center">

                    Вопросы?
                </li>
                <li class="list-group-item">
                    Сейчас подошло время вопросов. Если у Вас есть вопросы, пожалуйста, тихо поднимите руку и подождите,
                    пока организаторы эксперимента не подойдут к Вам и не ответят на Ваш вопрос наедине. Если
                    организатор эксперимента сочтёт Ваш вопрос важным для общего понимания правил для всех участников,
                    он может озвучить вопрос всем участникам игры и ответить на него вслух.
                </li>

                <li class="list-group-item font-weight-bold text-center">
                    Проверочные задания
                </li>
                <li class="list-group-item">
                    Прежде чем продолжить эксперимент, мы просим Вас пройти следующий тест. Отвечая на эти вопросы, не
                    стесняйтесь обращаться к инструкциям и таблицам. Ваши ответы на этот тест не влияют на Ваш выигрыш
                    ни в коем случае. Пожалуйста, впишите или обведите выбранные ответы на вопросы проверочных заданий.
                    Если на какие-либо из вопросов будут даны неправильные ответы, мы попросим Вас обратиться к
                    инструкциям еще раз и исправить ошибки.
                </li>


                <li class="list-group-item font-weight-bold text-center">
                    Есть ли у Вас вопросы?

                </li>
            </ul>
        </div>
    </div>
    {% formfields %}
    <div class="my-3">

        {% next_button %}
    </div>

{% endblock %}
