<li class="list-group-item font-weight-bold text-center">
    Эксперимент

</li>


<li class="list-group-item">
    Сегодняшний эксперимент состоит из {{ Constants.num_rounds }} периодов, в каждом из которых Вам
    будет нужно принять решение.
    В эксперименте будет участвовать {{ session.num_participants }} человек, разделённых на равные
    группы.
</li>

</li>
<li class="list-group-item">
    Сегодня Вы будете играть в роли предпринимателя.
<li class="list-group-item">
    Периоды с № 2 по № {{ Constants.num_rounds }} полностью идентичны, тогда как период № 1 слегка от
    них отличается.
<li class="list-group-item">
    В начале периода № 1 Вы должны выбрать одну из двух возможных схем оплаты труда для своих
    сотрудников: по “серой” или по “белой”.
<li class="list-group-item">
    В начале каждого последующего периода игры (то есть начиная с периода №2 и вплоть до периода
    №{{ Constants.num_rounds }}
    включительно) Вы должны принимать больше решений, помимо решения о схеме оплаты труда.
<li class="list-group-item">
    После принятия решения о схеме оплаты труда каждый из Вас сможет увидеть решение одного случайно
    выбранного участника Вашей группы. Точно так же один из участников группы сможет увидеть Ваше
    решение о выборе схемы.
<li class="list-group-item">
    Однако, прежде, чем Вы увидите решение другого участника, Вам нужно принять решение о том, будете ли
    Вы информировать налоговые органы о его решении, если он выбрал “серую” схему. Если Вы выберете
    решение об информировании при том условии, что игрок выбрал “серую” схему оплаты труда, то он будет
    оштрафован на {{ subsession.fine }}.
<li class="list-group-item">
    Решение “информировать” или “не информировать” налоговые органы абсолютно анонимно, так что никто из
    игроков не будет знать, какой выбор Вы сделали.
<li class="list-group-item">
    Эффективность работы правоохранительной системы составляет {{ subsession.get_prob_proc }}, поэтому
    априорная вероятность того,
    что игрок, выбравший “серую” схему оплаты труда, будет оштрафован,
    составляет {{ subsession.get_prob_proc }}. Размер штрафа
    составляет {{ subsession.fine }}. Если игрок, который получает информацию о другом игроке, выбравшем
    “серую” схему,
    выбирает опцию “информировать”, то вероятность быть оштрафованным для игрока, выбравшего “серую”
    схему, возрастает до 100%. При выборе “не информировать” для игрока, выбравшего “серую” схему,
    сохраняется априорная вероятность.
<li class="list-group-item">
    Наконец, в завершении периода № 2 вы получите информацию о своих доходах за предыдущий период (№ 1).
<li class="list-group-item">
    Для каждого последующего периода правила будут такими же, как и
    вышеописанном периоде №2.
<li class="list-group-item">
    Ваш выигрыш, накапливающийся на протяжении всей сессии, будет зависеть как от Вашего собственного
    выбора, так и от выбора других участников.
<li class="list-group-item">

    (1): Если вы выбрали “серую” схему оплаты труда, то чем большее количество людей выберут “серую”
    схему оплаты труда, тем меньше будет Ваша прибыль
<li class="list-group-item">
    (2): Если вы выбрали “серую” схему оплаты труда, то чем большее количество людей выберут “белую”
    схему оплаты труда, тем больше будет Ваша прибыль.
<li class="list-group-item">
    (3): Если в выбрали “белую” схему оплаты труда, то чем большее количество людей выберут “серую”
    схему оплаты труда, тем меньше будет Ваша прибыль.
<li class="list-group-item">
    (4): Если вы выбрали “белую” схему оплаты труда, то чем большее количество людей выберут “белую”
    схему оплаты труда, тем больше будет Ваша прибыль.

<li class="list-group-item">
    К примеру, если Вы выбрали схему оплату труда А и в предыдущем, и в текущем периодах, при этом Ваш
    доход в текущем периоде увеличился в сравнении с предыдущим периодом, это значит, что в текущем
    периоде большее количество участников выбрало схему оплату труда А в сравнении с предыдущим
    периодом.
</li>